.navbar-section {
    display: flex;
    justify-content : space-between;
    align-items: center;
    width: 100%;
    user-select: none;
    top:2rem;
}

.logo-container {
    display:flex;
    align-items:center;
    gap: 0.6rem;
}

.actual-logo {
    width: 8px;
    height: 8px;
    background-color:var(--text-color);
}
.logo-text{
    font-family: var(--font-sans);
    font-size: 1.1rem;
    font-weight:700;
    color:var(--text-color);
    text-transform: uppercase;
}

.mood-btn {
    font-family: var(--font-sans);
    font-size:clamp(0.6rem,0.7rem + 0.4vw,0.85rem);
    color: var(--text-color);
    background:transparent ;
    border : 1px solid rgba(0,0,0,0.8);
    border-color: var(--text-color);
    padding : 0.4rem 1.2rem;
    cursor: pointer;
    border-radius: 1.875rem;
}



